<div class="checkout-container">
  <h3 class="text-center">Receipt</h3>
  <div class="row">
    <div class="col-6">
      <div class="list-group">
          <div class="list-group-item">
              <div class="row">
                  <div class="col-4">Bagels</div>
                  <div class="col-4">Smears</div>
                  <div class="col-4">Price</div>
                </div>
              <li *ngFor="let bagel of bagels">
                  <div class="row">
                    <div class="col-4">{{bagel.name}}</div>
                    <div class="col-4">
                      <li class="addon" *ngIf='bagel.creamCheese'>+Cream Cheese</li>
                      <li class="addon" *ngIf='bagel.appleJelly'>+Apple Jelly</li>
                      <li class="addon" *ngIf='bagel.grapeJelly'>+Grape Jelly</li>
                      <li class="addon" *ngIf='bagel.butter'>+Butter</li>
                  </div>
                  <div class="col-4">${{bagel.getTotalPrice()}}</div>
                </div>
                <hr>
              </li>
          </div>
          <div class="list-group-item">
              <div class="row">
                  <div class="col-6">Tip:</div>
                  <div class="col-6">${{viewableTip}}</div>
              </div>
          </div>
          <div class="list-group-item">
              <div class="row">
                  <div class="col-6">Total:</div>
                  <div class="col-6">${{totalWithTip}}</div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
          <div class="col-12">
              <div class="list-group">
                  <div class="list-group-item">
                    <h4>Choose Payment Type:</h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cashCredit" (click)='SetCredit()' checked>
                        <label class="form-check-label" for="cashCredit" checked>
                          Credit
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" (click)='SetCash()' name="cashCredit">
                        <label class="form-check-label" for="cashCredit">
                          Cash
                        </label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div *ngIf='IsCredit' class="list-group">
          <div class="list-group-item">
            <form>
                <div class="form-group">
                  <label>First</label>
                  <input type="text" class="form-control" id="first">
                </div>
                <div class="form-group">
                  <label>Second</label>
                  <input type="text" class="form-control" id="second">
                </div>
                <div class="form-group">
                  <label>CCN</label>
                  <input type="number" class="form-control" id="ccn">
                </div>
                <div class="form-group">
                  <label>CCV</label>
                  <input type="number" class="form-control" id="ccv">
                </div>
                <div class="form-group">
                  <label>Exp</label>
                  <input type="date" class="form-control" id="exp">
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
      <h3>Please Select Tip Amount:</h3>
  </div>
  <div class="row">
      <div class="col-4 text-center">
        <button class="btn btn-primary btn-md center-block w-100" (click)='calcTip(0.15)'>15%</button>
      </div>
      <div class="col-4 text-center">
        <button class="btn btn-primary btn-md center-block w-100" (click)='calcTip(0.20)'>20%</button>
      </div>
      <div class="col-4 text-center">
        <button class="btn btn-primary btn-md center-block w-100" (click)='calcTip(0.25)'>25%</button>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm text-center">
      <button class="btn btn-danger btn-lg center-block w-100" routerLink='/'>Back</button>
    </div>
    <div class="col-sm text-center">
      <button class="btn btn-primary btn-lg center-block w-100" (click)='checkout()'>Complete Order</button>
    </div>
  </div>
</div>

