<div class='receipt-container'>
  <h3 class="text-center">Receipt</h3>
  <li *ngFor="let bagel of bagels">
    <div>
        <p>{{bagel.name}}</p>
        <p *ngIf='bagel.creamCheese'>+Cream Cheese</p>
        <p *ngIf='bagel.appleJelly'>+Apple Jelly</p>
        <p *ngIf='bagel.grapeJelly'>+Grape Jelly</p>
        <p *ngIf='bagel.butter'>+Butter</p>

    </div>
  </li>
  <div class="row">
    <div class="col-sm text-center">
      <button class="btn btn-danger btn-lg center-block w-100" routerLink='/'>Back</button>
    </div>
    <div class="col-sm text-center">
      <button class="btn btn-primary btn-lg center-block w-100" routerLink="/success-screen">Finish Order</button>
    </div>
  </div>
</div>

