<div class='customize-container'>
  <h3 class="text-center"> Select Smear for {{headerText}} bagel</h3>
  <div class='md-padding addon-selection-container'>
    <div class='addon-selector'>
      <mat-checkbox (click)='toggleCreamCheese()'>Cream Cheese - ${{bagel.creamCheesePrice.toFixed(2)}}</mat-checkbox>
    </div>
    <div class='addon-selector'>
      <mat-checkbox (click)='toggleGrapeJelly()'>Grape Jelly - ${{bagel.grapeJellyPrice.toFixed(2)}}</mat-checkbox>
    </div>
    <div class='addon-selector'>
        <mat-checkbox (click)='toggleAppleJelly()'>Apple Jelly - ${{bagel.appleJellyPrice.toFixed(2)}}</mat-checkbox>
    </div>
    <div class='addon-selector'>
        <mat-checkbox (click)='toggleButter()'>Butter - ${{bagel.butterPrice.toFixed(2)}}</mat-checkbox>
    </div>
    <div class='separator'></div>
  </div>
  <div class="row nav-container">
      <div class="col-sm text-center">
        <button class="btn btn-danger btn-lg center-block w-100" routerLink='/'>Back</button>
      </div>
      <div class="col-sm text-center">
        <button class="btn btn-primary btn-lg center-block w-100" (click)='addToCart()'>Add To Cart</button>
      </div>
    </div>
</div>
